<tr>
  <td class="align-middle"><%= badge.title %></td>
  <td class="align-middle">
    <%= image_tag badge.images, class: 'mr-3' %>
  </td>
  <td class="align-middle"><%= badge.rule_type %></td>
</tr>