<tr>
  <td class="align-middle"><%= badge.title %></td>
  <td class="align-middle">
    <%= image_tag badge.image, class: 'mr-3' %>
  </td>
  <td class="align-middle"><%= badge.description %></td>
</tr>
