<footer>
  <p>
    <%= current_year %> &copy; Thinknetica
  </p>
  <p>
    Создатель проекта: студент Thinknetika Алексей Родионов 
  </p>
  <p>
     <%= github_url('PapaKramb', 'Test-Guru') %></p>
  </p>
  <p>
     <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'http://www.thinknetica.com', target: '_blank' %></p>
  </p>
</footer>