<p>
  <td colspan = 3></th>
  <td><%= answer.body %></td>
  <td><%= answer.correct %></td>
  <td><%= link_to 'Show', answer_path(answer) %></td>
  <td><%= link_to 'Edit', edit_answer_path(answer) %></td>
</p>