<p>
  <strong>Questions:</strong>
  <%= @answer.body %>
  <%= @answer.correct %>
</p>
 <p>
  <%= link_to 'Back', admin_answer_path(@answer) %>
  <%= link_to 'Edit', edit_admin_answer_path(@answer) %>
</p>